@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Baloo+Bhai|Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}
body {
    /* background-color: rgb(198, 236, 223); */
    background: linear-gradient(70deg, rgb(237, 255, 249), white,rgb(237, 255, 249));
    height: 100%;
    width: 100%;
    
}    
.container{
    width: 100%;
    min-height: 50%;
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    /* justify-content: space-evenly; */
    /* padding:1.5em 1em 1em 1em; */
    /* border: 5px dotted red;  */
}
.wrapper{
    width: 85%;
    height: auto;
    border-radius: 2em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:1.5em 0em 1.5em 0em;
    /* border: 2px solid blueviolet;  */
}
    .container-login{
        width: 40%;
        min-width: fit-content;
        padding: 0;
        /* overflow: auto; */
        border-radius: 1em;
        background:rgb(127, 166, 216);
        display: flex;
        justify-content: center;
        /* background-color: rgba(127,166, 216, 0.4); */
        /* border: 4px double blue; */
         /* margin-top: 1.5em; */
    }
    .container-login .avatar{
        display:none;
    }
    .img{
        width:50%;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .img img{
        width: 100%;
        height: 100%;
        display:flex;
        justify-self: center;
    }
    .form{
        width: 20em;
        height: auto;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 3px dashed greenyellow;  */
        
    
    }
    .titles {
        font-weight: normal;
        text-align: center;
        display:block;
        padding-bottom: 1em;
        width:inherit;
        /* border: 3px dashed purple; */
    }
    .titles .title-app{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: 'Pacifico', cursive;
        font-size:  2.5em;
        font-weight: normal;
        text-align: center;
        margin-top: .5em;
        color:darkslategray;
        /* margin:1em 0 0.5em 0; */
    }
    .titles h3{
        padding: .5em;
        font-size: 1.2em;
        font-weight: lighter;
        color:darkslategray;
        word-break: break-word;
        
    }
    .input-wrapper{
        position: relative;
        width: 100%;
        z-index: 1;
        display:flex;
        justify-self: center;
        justify-content: center;
        margin-bottom: 1.5em;
        /* margin-top: 2em; */
        /* border: 4px double rgb(59, 31, 26); */
    }
    .input-wrapper .input{
        width: 100%;
        height: 3em;
        font-size: 1em;
        line-height: 1.5;
        color:darkslategray;
        display:block;
        background:whitesmoke;
        border-radius: 2em;
        border-style:none;
        padding: 1em;
         /* border: 3px dotted lightseagreen;  */
    }
    .btn-wrapper .submit{
        width: 100%;
        height: 3em;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 2em;
        border-style: none;
        font-size: 1em;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color:#2f4f4f;
        background: #ffde49;
        padding: 0em 1.5em 0em 1.5em;
        transition: all .8s;
        /* border: 3px dotted red; */
    }
    
    .btn-wrapper .submit:hover{
        background: white;
        color: rgb(47, 109, 190);
        font-size: 1em;
        font-weight:bold;
        box-shadow: 5px 10px #888888;
        border: 2px solid rgb(102, 156, 226);
    }
    ::placeholder{
        color:dimgray;
        font-size: 1em;
        
    }
    .links{
        display: flexbox;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        font-size: 1em;
        padding: 1em;
        color:darkslategray;
        
    }
    .links span{
        font-weight: bold;
        font-size: 1.2em;
        padding: 0 .5em 0 0;
    }
    .links .link {
        text-decoration: dotted;
        color: darkslategray;
        font-size: 1em;
        transition: .5s;
        padding: 0.5em;

    }
    .links .link:hover{
        color:yellow;
        font-size: 1em;
        
    }
    .links .other-singup-text{
        color: darkslategray;
        font-size: 1.2em;
        margin: .5em 0 .5em 0;
        display: block;
        font-weight:bold;
    }
    .links .link-icon .other-icon{
        width: 2em;
        height: auto;
        margin: .5em .2em .5em .2em;
        transition: .5s;
        border-radius: 50%;
        
    }
    .links .link-icon .other-icon:hover{
        border-radius: 50%;
        box-shadow: 3px 4px #888888;
        position: relative;
        
    }
    
    @media(max-width: 60em){
        .wrapper{
            width:100%;
            padding: 0;
            border-radius:0;
        } 
        .container{
            padding:0;
            width:100%;
        }
        .container-login{
        width: 100vh;
        height: 100vh;
        /* padding: 2em 1.5em 2em 1.5em; */
        display:flex;
        justify-content: space-around;
        border-radius: 0;
    /*        border: 2px solid red; */
        }
        .container-login .avatar{
            display:block;
        }
        .form{
            padding: 0 1em 0 1em;
        }
        .img{
        display:none;
        }
        .img img{
            display:none;
        }
        .input-wrapper .input{
            width: inherit;
        }   
    .titles {
        width: inherit; 
        /* border: 3px dashed pink; */
        word-break: break-word;
    }
    .titles .title-app{
        font-size:  2em;
    }
    .titles h3{
    word-break: break-word;
    } 
    
    }

/************* CSS de la barra de navegación *************/
header {
    width: 100%;
    height: 20%;
    
}
.topnav {
    overflow: hidden;
    background-color: rgb(120, 169, 233);
    width: 100%;
    height:4em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    top: 0;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5em 5.4em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;

}
.dropdown-content {
    display: none !important;
    position: absolute;
    background-color: #FFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px
    rgba(0,0,0,0.2);
    z-index: 1;
}
.topnav a:hover {
    background-color:  #ffde49;
    color: black;
}
.topnav a.active {
    background-color: #ffde49;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    color: darkslategray;
    font-weight: 200;
}
.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
    width: 10em;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 23px 16px;
    margin: 0;
    background-color: inherit;
    color: white;
    font-size: 1em;  
    font-family: inherit;
    font-weight: bold;
   /*  text-align: right; */
}
.show {
    display: block !important;
}

.dropdown-content a:hover {
    background-color: #ffde49;
}
.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav{
        width: 100%;
        height: 80%;
    }
    .topnav a:not(:first-child) { 
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav a.active {
        background-color: #ffde49;
        font-family: 'Pacifico', cursive;
        font-size: 1em;
        color: darkslategray;
        font-weight: 200;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    
        /* padding: 1em 1em; */
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
       /*  padding: 1em 1em; */
        
    }
}
/********** 404 error page ******/
.error-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
}
.error-message img{
    width: 35%;
    height:auto;
    margin-top: 2em;
}
.error-message h1{
    color: black;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    margin-bottom: .5em;
}
.error-message h3{
    color: black;
    font-size: 1em;
    margin-bottom: .5em;
    
}
/************* Profile *************/
.avatar-profile{
    width: 25%;
    height: auto;
    margin: 1em 1em;
    background: #FFF;
    border-radius:50%;
    display:flex;
}
.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:2em;
    
}
.container-profile{
    width:100%;
    height: 100%;
    background-color:white;
}
.input-wrap{
    position: relative;
    width: 100%;
    z-index: 1;
    display:flex;
    justify-self: center;
    justify-content: center;
    margin-bottom: 1.5em;
    /* margin-top: 2em; */
    /* border: 4px double rgb(59, 31, 26); */
}
.input-wrap .input{
    width: 100%;
    height: 3em;
    font-size: 1em;
    line-height: 1.5;
    color:darkslategray;
    display:block;
    background:whitesmoke;
    border-radius: 2em;
    border: 2px solid rgb(102, 156, 226);
    padding: 1em;
}

/************* Home *************/
/* .home {
    background-color: #FFF;
}
.box-home {
    display:flex;
    flex-direction: row;
    margin: 15px 0;   
    justify-content: space-between; 
}
.box-profile {
    display:flex;
    flex-direction: column;
    margin: 0 10px;
    width: calc(calc(100% / 2) - 20%);
    border-radius: 1em;
}
.banner-profile {
    border-top: rgb(204, 203, 203) 1px solid;
    border-right: rgb(204, 203, 203) 1px solid;
    border-left: rgb(204, 203, 203) 1px solid;
}
.banner-img {
    width: 100%;
}
.info-profile {
    border-bottom: rgb(204, 203, 203) 1px solid;
    border-right: rgb(204, 203, 203) 1px solid;
    border-left: rgb(204, 203, 203) 1px solid;
    min-height: 50px;
    text-align: center;
}
.info-profile img.user-icon{
    width: 20%;
    height:auto;
    float:left;
    padding: .5em 0 .5em 1em;
}
.info-profile .user-name{
    text-align: center;
    padding: .5em;
    justify-self: center;
}
.feed {
    display:flex;
    flex-direction: column;
    margin: 0 10px;
    width: calc(calc(100% / 2) + 15%);
}
.box-create-publication {
    border:rgb(204, 203, 203) 1px solid;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 20px;
}
.publication {
    width: 100%;
    height: 75%;
    border-radius: 4px;
    margin: 0 auto;
}
.btn {
    background-color:rgb(120, 169, 233);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-add-image {
    background-color: transparent;
    border: none;
    padding: 5px;
    display: inline-block;
    background-image: url('./img/add-image.png');
    width: 35px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.box-publication-feed {
    border:rgb(204, 203, 203) 1px solid;
    min-height: 100px;
    margin-bottom: 20px;
}
.box-publication-feed-header {
    background-color: rgb(120, 169, 233);
    border:rgb(102, 156, 226);
    min-height: 10px;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
}
.box-publication-feed-text {
    text-align: left;
    padding: 5px;
}
.box-publication-feed-comment {
    border:rgb(204, 203, 203) 1px solid;
    min-height: 50px;
    height: auto;
    width: 95%;
    text-align: left;
    margin: 10px auto;
    border-radius: 2px;
}
.box-publication-feed-comment-header {
    background-color: rgb(120, 169, 233);
    border:rgb(102, 156, 226);
    min-height: 10px;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
}
.box-publication-feed-comment-text {
    text-align: left;
    padding: 5px;
}
.box-create-comment {
    border:rgb(204, 203, 203) 1px solid;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 20px;
    width: 95%;
    margin: 5px auto;
    min-height: 110px;
}
.box-likes {
    width: 95%;
    margin: 5px auto;
    margin-bottom: 10px;
}
.heart-likes {
    width: 30px;
}
.text-likes {
    font-size: 12px;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .box-home {
        flex-direction: column;
    }
    .box-profile {
        width: 95%;
        margin-top: 15px;
    }
    .feed {
        width: 95%;
        margin-top: 15px;
    }
    .error-message{
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-top: 0em;
        width: 100vw;
        height: 100vh;
            
    }
    .error-message img{
        width: 35%;
        height:auto;
        margin-top: 2em;
    }
    .error-message h1{
        color: black;
        font-size: 3em;
        font-family: 'Pacifico', cursive;
        margin-top: 1em;
        margin-bottom: .5em;
    }
    .error-message h3{
        color: black;
        font-size: 1em;
        margin-bottom: .5em;
        
    }
}
@media screen and (max-width: 600px) {
    .box-home {
        flex-direction: column;
    }
    .box-profile {
        width: 95%;
    }
    .feed {
        width: 95%;
    }
} */