*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    }
    
    .container{
        width: 100vw;
        max-height: 100vh;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-image: url("/src/img/fondo-REd-Social.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
        margin:0;
        padding:0;
        
         /* border: 2px solid red; */
    }
    
    .wrapper{
        width: inherit;
        height: inherit;
        border-radius: 2em;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding:1.5em 1em 1em 1em;
      /* border: 2px solid blueviolet;  */
      
    }
    .container-login{
        width: 30em;
        height: inherit;
        min-width: fit-content;
        padding: 2em;
        overflow: auto;
        border-radius: 2em;
        background:rgb(120, 169, 233);
        /* background-color: rgba(255, 0, 0, 0.4); */
        display: flex;
        justify-content: center;
        /* border: 4px double blue; */ 
        /* margin-top: 1.5em; */
    }
    .img{
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
         /* border: 2px solid red;  */
    }
    .img img{
       max-width: 100%;
       display:flex;
       justify-self: center;
       
    }
    .form{
        width: 20em;
        height: auto;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* border: 3px dashed greenyellow;  */
        
    
    }
    .titles {
        font-weight: normal;
        text-align: center;
        display:block;
        padding-bottom: 2em;
        width:inherit;
        /* border: 3px dashed purple; */
    }
    .titles .title-app{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: 'Pacifico', cursive;
        font-size:  2.5em;
        font-weight: normal;
        text-align: center;
        margin-top: .5em;
        color:darkslategray;
        /* margin:1em 0 0.5em 0; */
    }
    .titles h3{
        padding: .5em;
        font-size: 1.2em;
        font-weight: lighter;
        color:darkslategray;
        word-break: break-word;
        
    }
    .input-wrapper{
        position: relative;
        width: 100%;
        z-index: 1;
        display:flex;
        justify-self: center;
        justify-content: center;
        margin-bottom: 1.5em;
        /* margin-top: 2em; */
        /* border: 4px double rgb(59, 31, 26); */
    }
    .input-wrapper .input{
        width: 100%;
        height: 3em;
        font-size: 1em;
        line-height: 1.5;
        color:darkslategray;
        display:block;
        background:whitesmoke;
        border-radius: 2em;
        border-style:none;
        padding: 1em;
         /* border: 3px dotted lightseagreen;  */
    }
    .btn-wrapper .submit{
        width: 100%;
        height: 3em;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 2em;
        border-style: none;
        font-size: 1em;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color:white;
        background: #e43950;
        padding: 0em 1.5em 0em 1.5em;
        transition: all .8s;
        /* border: 3px dotted red; */
    }
    
    .btn-wrapper .submit:hover{
        background: lightseagreen;
        color: rgb(255, 233, 161);
        font-size: 1.1em;
        font-weight:bold;
    }
    ::placeholder{
        color:dimgray;
        font-size: 1em;
        
    }
    .links{
        display: flexbox;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        font-size: 1em;
        padding: 1em;
        color:darkslategray;
        /* border: 3px dotted red; */
    }
    .links span{
        font-weight: bold;
        font-size: 1.2em;
    }
    .links .link{
         text-decoration: none;
        color: gray;
        font-size: 1em;
        transition: .5s;
        
    }
    .links .link:hover{
        color:#e43950;
        font-size: 1.1em;
    }
    .links .other-singup-text{
        color: darkslategray;
        font-size: 1.2em;
        margin: .5em 0 .5em 0;
        display: block;
    }
    .links .link-icon .other-icon{
        width: 2em;
        height: auto;
        margin: .5em .2em .5em .2em;
        transition: .5s;
        
    }
    .links .link-icon .other-icon:hover{
        width: 2.3em;
        height: auto;
        position: relative;
        
    }
    
    @media(max-width: 60em){
        .wrapper{
            width:100vw;
            width:100vw;
            padding: 0;
        } 
        .container-login{
           width: 100vw;
           height: 100vh;
           padding: 2em 1.5em 2em 1.5em;
           display:flex;
           justify-content: center;
           border-radius: 0;
    /*        border: 2px solid red; */
        }
        .form{
            padding: 0 1em 0 1em;
        }
        .img{
          display:none;
        }
        .img img{
            display:none;
        }
     
        .input-wrapper .input{
            width: inherit;
        }   
    .titles {
        width: inherit; 
        /* border: 3px dashed pink; */
         word-break: break-word;
    }
    .titles .title-app{
        font-size:  2em;
    }
       
    .titles h3{
       word-break: break-word;
    } 
    
    }
    
    
    
